@page "/contact"

<PageTitle>Contact</PageTitle>
<h1>Contact</h1>

<div class="page-content">
<div class="left-side">
    <h3>BHACCASYONIZTAS BEACH RESORT</h3>
    <div id="info-header-row">
        ADDRESS:
    </div>
    <div id="info-description-row">
        123 Lorem Ipsum Cove, Set Ut City, LI 12345
    </div>
    <div id="info-header-row">
        TELEPHONE NUMBER:
    </div>
    <div id="info-description-row">
        1-800-999-9999
    </div>
    <div id="info-header-row">
        FAX NUMBER:
    </div>
    <div id="info-description-row">
        1-800-111-1111
    </div>
</div>

<div class="right-side">
    <ContactForm />
</div>
</div>

