@page "/divesite"
 
 <div class="rooms-content">
            <h1>
                DIVE SITE
            </h1>
            <div id="room">
                <div id="dive-description">
                    <h3>
                        GALE REEF
                    </h3>
                    <div id="top-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                    <div id="bottom-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                    
                </div>
                <div id="image">
                    <img id="image-image" src="images/reef1.jpg">
                </div>
            </div>
            
            <hr />
            <div id="room">
                <div id="dive-description">
                    <h3>
                        DAWSON'S REEF
                    </h3>
                    <div id="top-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                    <div id="bottom-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                </div>
                <div id="image">
                    <img id="image-image" src="images/reef2.jpg">
                </div>
            </div>

            <hr/>

            <div id="room">
                <div id="dive-description">
                    <h3>
                        CLAIRE'S REEF
                    </h3>
                    <div id="top-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                    <div id="bottom-text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a ipsum aliquet, viverra mi
                            eget, placerat lacus. Quisque vitae efficitur metus. 
                        </p>
                    </div>
                </div>
                <div id="image">
                    <img id="image-image" src="images/reef3.jpg">
                </div>
            </div>


        </div>
